<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Your Site{% endblock %}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
      {% if show_navbar %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Server Room Temperature and Humidity Monitoring System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  {% if user.is_authenticated %}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'accounts:edit-profile' %}">Edit Profile</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog fa-sm mr-1"></i> Settings                         
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'monitoring:email_settings' %}">
                                <a class="dropdown-item" href="{% url 'monitoring:email_settings' %}">Alert Settings</a>
                                <a class="dropdown-item" href="{% url 'monitoring:email_alerts' %}">Email Alerts</a>
                                <a class="dropdown-item" href="http://localhost:8000/admin/">Admin</a>
                            </a>
                        </div>
                    </li>
                    
                    
                  {% else %}
                      <li class="nav-item">
                          <a href="{% url 'accounts:register' %}" class="register">Register</a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </nav>
      {% endif %}    </header>
          
    <main>
        {% block content %}
        <!-- Main content gets injected here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Eduardo Uytoco Jr. All rights reserved.</p>
    </footer>
</body>

  <!-- Add this just before the closing </body> tag in base.html -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </html>
